<header class="d-flex justify-content-around border-bottom fixed-top header">
    <div class="flex row  w-50 justify-content-around py-2">
        <img src="../../assets/img/noteblock-and-calendar-joined.png" alt="Imagen app" class="logo">
        <div class="py-2">
            <h1 class="d-flex text-white">Notelendar</h1>
            <p class="text-white pienotaTitulo">configura tus notas y apunta en tu agenda lo que necesites...</p>
        </div>
    </div>
    <ul class="flex nav nav-pills w-25 justify-content-end py-5 px-1">
        <button class="nav-link active" (click)="onLoggingClick()">Login</button>
        <button class="nav-link" (click)="onRegisterClick()">Register</button>
    </ul>
</header>