.header {
    background-color: rgb(50, 61, 74);
}
.logo {
    margin-top: 2%;
    width: 10%;
    height: 72%;
    border: 1px solid white;
    border-radius: 25%;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 4%, 10%;
    text-align: center;
}
p {
    font-family: 'Caprasimo', cursive;
    padding-top: 6%;
    margin-bottom: -3%;
}
.pienotaTitulo {
    vertical-align: bottom;
}
button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 15%;
    width: 20%;
}