<ng-container *ngIf="!loggeado">
    <app-header *ngIf="showLogin" (registerClicked)="switchToRegistration()"
        (loggingClicked)="switchToLogin()"></app-header>
    <ng-container *ngIf="showLogin">
        <app-header *ngIf="showLogin" (registerClicked)="switchToRegistration()"
            (loggingClicked)="switchToLogin()"></app-header>
        <app-login></app-login>
    </ng-container>
    <ng-container *ngIf="showRegistration">
        <app-header *ngIf="showRegistration" (registerClicked)="switchToRegistration()"
            (loggingClicked)="switchToLogin()"></app-header>
        <app-register></app-register>
    </ng-container>
</ng-container>
<app-footer></app-footer>