<div class="limiter">
    <div class="container-login100 text-center d-flex align-items-center justify-content-around text-white">
        <div class="card w-25">
            <div class="card-header bg-primary">
                <h2>Registrate y accede!</h2>
            </div>
            <div class="card-body py-1 bg-color">
                <form class="card-text">
                    <div class="form-group">
                        <label for="nombre">Nombre de usuario</label>
                        <input type="username" class="form-control" id="nombre" aria-describedby="usernameHelp"
                            placeholder="Nombre del usuario">
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido de usuario</label>
                        <input type="surname" class="form-control" id="apellido" aria-describedby="surnameHelp"
                            placeholder="Apellido del usuario">
                    </div>
                    <div class="form-group">
                        <label for="mail">Correo Electronico</label>
                        <input type="email" class="form-control" id="mail" aria-describedby="emailHelp"
                            placeholder="Introduzca correo">
                    </div>
                    <div class="form-group">
                        <label for="pass">Contraseña</label>
                        <input type="password" class="form-control" id="pass" placeholder="Introduzca su contraseña">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Politica de privacidad</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Acceder</button>
                </form>
            </div>
            <div class="card-footer text-muted bg-primary"></div>
        </div>
    </div>
</div>